# Environments
.env
.venv/
env/
venv/
ENV/

# Python cache
__pycache__/
*.py[cod]
*.class

# Output files
output/
logs/
*.zip
*.log

# IDEs and editors
.idea/
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Project Specific
zero/
