streamlit
openai
pillow
pandas
python-docx

tiktoken

tinydb
tinydb-serialization

diffusers
transformers
accelerate

selenium
webdriver-manager
janome

tinydb==4.8.0

tinydb==4.8.0

tinydb==4.8.0
python-docx
